@import url(../css/ionicons.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', san-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

@media only screen and (max-width: 75em) {
  font-size: 56.25%; }

@media only screen and (max-width: 56.25em) {
  font-size: 50%; }

@media only screen and (min-width: 112.5em) {
  font-size: 75%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #666; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

header {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }

.hero {
  display: flex;
  justify-content: space-between; }
  .hero__logo {
    height: 70px;
    margin: 10px; }
  .hero__mainNav {
    margin: 10px;
    display: flex;
    color: #fff;
    list-style: none; }
    .hero__mainNav--item > a {
      margin-right: 20px;
      color: #fff;
      text-decoration: none;
      padding-bottom: 7px; }
      .hero__mainNav--item > a:link, .hero__mainNav--item > a:visited {
        border-bottom: 1px solid transparent;
        transition: border-bottom .4s; }
      .hero__mainNav--item > a:hover, .hero__mainNav--item > a:active {
        border-bottom: 1.5px solid #fff; }

.hero {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/jobSearchGears.jpg);
  background-size: cover;
  position: relative; }
  .hero__mainTitle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f7f7f7; }
    .hero__mainTitle--mainHeading {
      font-weight: 300;
      letter-spacing: 3px; }
    .hero__mainTitle--subHeading {
      font-weight: 400;
      letter-spacing: 3px; }
      .hero__mainTitle--subHeading > span {
        color: #0584c0; }

.btn {
  padding: 1.5rem;
  border-radius: .3rem;
  margin: 1rem 0;
  background-color: #f1f141;
  border: 1px solid #f1f141; }

.mainBoard > h1 > span {
  color: #0584c0; }

.about {
  border: 2px solid tomato; }

.contact {
  border: 2px solid magenta; }

.search__form--searchLine1 {
  display: flex;
  margin: 30px 20px 20px 20px; }
  .search__form--searchLine1 > h2 {
    flex: 1; }
  .search__form--searchLine1 > h3 {
    flex: 2; }

.search__form--searchLine2 {
  display: flex; }

.search__form--selectBoxes {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around; }
  .search__form--selectBoxes-item {
    padding: 18px;
    border-radius: 7px;
    outline: none;
    font-size: 16px; }

.search__form--skills {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  justify-content: space-around; }

input[type=radio],
input[type=checkbox] {
  display: none; }
  input[type=radio] + label,
  input[type=checkbox] + label {
    border-width: 2px;
    border-style: solid;
    border-radius: .5em;
    padding: 10px 15px;
    margin: 1px; }
  input[type=radio]:checked + label,
  input[type=checkbox]:checked + label {
    background-color: #0584c0;
    color: #fff; }
