.listings {
    padding: 0 2rem 0 2rem;

    &__job {
        display: flex; 
        
        &--type {
            flex:1;
            align-self: center;
            justify-self: center;
            display: inline-flex;                     
            margin: 2rem;
        }

        &--info {
            flex:5;

            &-line1 {
                display: flex;
            }

            &-line2 {
                display: flex;
                &-datePosted {
                    font-style: italic;
                    margin-left: 5rem;
                }
            }
            
            &-description {
                &ReadMore {
                    color: $colorPrimary;
                    font-size: .7rem;
                }
            }
        }
    }
}