.listings {
    padding: 0 20px 20px 20px;

    &__job {
        display: flex; 
        
        &--type {
            flex:1;
            align-self: center;
            justify-self: center;
            display: inline-flex;                     
            margin: 20px;
        }

        &--info {
            flex:5;

            &-line1 {
                display: flex;
            }

            &-line2 {
                display: flex;
                &-datePosted {
                    font-style: italic;
                    margin-left: 50px
                }
            }
            
            &-description {
                &>a {
                    color: $colorPrimary;
                background-color: transparent;
                padding:3px 5px;
                font-size: 16px;
                border-radius: 7px;
                }
            }
        }
    }
}