.search__form {
    padding: 40px 40px;

    display: flex;
    
    &--title {
        flex: 1;
    }
    // &>h3 {
    //     flex: 2;
    // }
    &--selectBoxes {
        flex:4;
        display: flex;
        justify-content: flex-start;

        &-item {
            padding: 5px 18px;
            border-radius: 7px;
            outline: none;
            font-size: 16px;
            margin-right: 40px;
        }
    } // &--skills {
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex: 2;
    //     justify-content: space-around;
    // }
}

input[type=radio],
input[type=checkbox] {
    display: none;
    &+label {
        border-width: 2px;
        border-style: solid;
        border-radius: .5em;
        padding: 10px 15px;
        margin: 1px;
    }
    &:checked+label {
        background-color: $colorPrimary;
        color: #fff;
    }
}