.search__form {
    padding: 40px 40px 0 40px;
    display: flex;
    
    &--title {
        flex: 1;
    }
    &--selectBoxes {
        flex:5;
        display: flex;
        justify-content: flex-start;

        &-item {
            padding: 5px 18px;
            border-radius: 7px;
            outline: none;
            font-size: 16px;
            margin-right: 40px;
        }
    }
}