.admin__messageBox {
    background-color: $colorPrimary;
    padding: 10px 5px;
    border-radius: 7px;
    border: 1 solid $colorGrey-dark1;
    box-shadow: 2px 5px $colorGrey-light2;
    color: $colorGrey-light1;
    width: 25%;
    text-align: center;
    margin: 25px;
    display: inline-flex;
}

.admin__editDelete {
    display: flex;
    &>a {
        text-decoration: none;
        width: 75px;
        text-align: center;
        font-size: 14px;
    }
    &--edit {
        margin-right: 7px;
    }
    
}