table {
    width: 100%;
}

.updateSelectorsHeading {
    margin: 1.5rem;
}
.updateSelectors {
    width: 50%;
    margin: auto;
    border: 5px double $colorPrimary;
    padding: 1.5rem 3rem;

    &__selector {
        margin: 0 auto 2rem auto;
       
        &--item {
            display: flex;
            border-radius: 7px;
            padding: 2px 4px;
            &-order {
                flex:1;
                margin-right: 5px;
                &>input {
                    width: 100%;
                    padding: 2px;
                    border-radius: 7px;
                }
            }
            &-itemName {
                flex:7;
                margin-right: 5px;
                &>input {
                    width: 100%;
                    padding: 2px;
                    border-radius: 7px;
                }
                
            }
            &-saveEdit {
                flex: 1;
                
                &>input {
                    width: 100%;
                    padding: 2px;
                    border-radius: 7px;
                }
            }
        }

        &>p{
            font-size: .65rem;
        }
    }
}