table {
    width: 100%;
}

.updateSelectorsHeading {
    margin: 1.5rem;
}
.updateSelectors {
    width: 50%;
    margin: auto;
    border: 5px double $colorPrimary;
    padding: 1.5rem 3rem;

    &__selector {
        margin: 0 auto 2rem auto;
       
        &--item {
            border-radius: 7px;
            padding: 2px 4px;
            &-order {
                width: 16%;
            }
            &-itemName {
                width: 50%;
            }

        }

        &>p{
            font-size: .65rem;
        }
    }
}